# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/

# Logs
*.log

# Spark
spark-warehouse/
metastore_db/

# PostgreSQL
postgres/data/
*.sql.bak

# OS
.DS_Store
Thumbs.db
